{% extends "quizapp/base.html" %}
{%block title%}

Home page

{%endblock%}

{%block content%}

<br>
<div class="container text-center">
	<h1>Quiz App</h1>
	<br>

	<div class="container">
		<br>
		<div class="d-grid gap-3 col-5 mx-auto">
			<a role="button" class="btn btn-primary btn-lg" href="/quiz">
				My Quiz
			</a>
			<a role="button" class="btn btn-info btn-lg" href="/show">
				Show Answers
			</a>
			<a role="button" class="btn btn-success btn-lg" href="/create">
				Create Quiz
			</a>
		</div>
	</div>
	<br />
	<br />
	<br />
</div>

{%endblock%}